// Reset/normalize
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

html {
  box-sizing: border-box;
  background-color: var(--off-white);
  color: var(--black);
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
