@use '../components' as *;

.main {
  height: 100vh;
  width: 100vw;
}
.mainHeroHeading {
  padding: 30px 0;
  text-align: center;
}
html {
  font-family:  Verdana, Geneva, sans-serif;
}
.header-heading {
  font-size: var(--hero-fs);
}
h1 {
  font-size: var(--h1-fs);
}
h2 {
  font-size: var(--h2-fs);
}
h3 {
  font-size: var(--h3-fs);
}
h4 {
  font-size: var(--h4-fs);
}
p {
  font-size: 100%;
}
section {
  padding: 0 20px 20px;
  border: 2px solid var(--black);
  border-radius: 30px;
  margin: 0 20px 30px 20px;

}
.sectHero {
  text-decoration: underline;
  text-align: center;
  margin: 10px 0 30px;
}

#arrayOutput p {
  padding: 5px 0 5px 25px;
}

.posAnswer {
  color: green;
}
.negAnswer {
  color: red;
}

// CANVAS AREA
canvas {
  height: 250px;
  width: 550px;
  background-color: beige;
  margin: 10px 0;
}
// Array Loops AREA
// .loopOut {
//   display: flex;
//   flex-direction: column;
// }
.title {
  width: 900px;
}
.listsArea {
  display: flex;
  flex-direction: row;
  width: 900px;
}

.guestList {
  padding: 30px;
}

.contentSection {
  padding: 30px;
}

// Dom Manipulation Start
//
#container {
  color: green;
}
.display {
  color: blue;
}
.controls {
  color: purple;
}
#container > .controls { // #container.controls does not work (if no space use div.controls)
  color: orange;
}
#idLabel, .classLabel {
  color: red;
}

//
// Dom Manipulation End



// Testing Start
//
div li {
  color: blue;
}
div > li {
  color: green;
}
h3 + p { // first paragraphy following an h3 is blue
  color: blue;
}
//
// Testing End











